i.like._iuz, i.love._iuz,
i.haha._iuz, i.sorry._iuz,
i.wow._iuz, i.anger._iuz {
    background-image : url("chrome-extension://bhdenldoojfdhkmjmhnijgjkgkcjhbki/bb8.png") !important;
    background-size : 48px,48px !important;
    background-position: 0,0 !important;
}

a>i.like, a>i.love,
a>i.haha, a>i.sorry,
a>i.wow, a>i.anger {
/*    background-image : url("https://i.imgur.com/oSOUzWC.png") !important;*/
    background-image : url("chrome-extension://bhdenldoojfdhkmjmhnijgjkgkcjhbki/bb8.png") !important;
    background-size : 17px,17px !important;
    background-position: 0,0 !important;
}

.uiContextualLayerParent ._4sm1::before {
    content: "BB-8 " !important;
}
