* {
    box-sizing: border-box;
    font-family:"Righteous", monospace;
}

*:focus {
    outline: none;
}


body {
    width:256px;
    height:256px;
}

.popup {
    position: relative;
    background-color:rgba(255,255,255,.75);
    width:100%;
    height:100%;
    overflow-y: hidden;
}

h1 {
    text-shadow:
            -1px -1px 0 #222,
            1px -1px 0 #222,
            -1px 1px 0 #222,
            1px 1px 0 #222;
    color: #f09010;
}

.summary {
    color: #444444;
    perspective: 50px;

}

.background {
    margin: auto;
    top: 10%;
    left:10%;
    position: absolute;
    z-index: -1000;
    width:80%;
    height:80%;
}

#outer {
    background-color:rgba(240,140,16,1);
    border-radius:50%;
    top:0px;
    left:0px;
    position: absolute;
    width:100%;
    height:100%;
}

#inner {
    background-color:white;
    border-radius:50%;
    width:70%;
    height:70%;
    top:15%;
    left:15%;
    position: absolute;
}

#innerer {
    background-color: white;
    width:60%;
    height:60%;
    top:20%;
    left:20%;
    position: absolute;
    background-image:linear-gradient(45deg, rgba(240,140,16,1) 0%, rgba(240,140,16,1) 8%, white 8%, transparent 40%)
    ,linear-gradient(135deg, rgba(240,140,16,1) 0%, rgba(240,140,16,1) 8%, white 8%, transparent 40%)
    ,linear-gradient(225deg, rgba(240,140,16,1) 0%, rgba(240,140,16,1) 8%, white 8%, transparent 40%)
    ,linear-gradient(315deg, rgba(240,140,16,1) 0%, rgba(240,140,16,1) 8%, white 8%, transparent 40%);
    z-index:1;
}

#taper1 {
    background-color:rgba(240,140,16,1);
    width:30%;
    height:30%;
    left:20%;
    top:20%;
    position: absolute;
    background-image:linear-gradient(30deg, white 0%, white 40%, transparent 40%)
    ,linear-gradient(60deg, transparent 0%, transparent 60% , white 60%);
}

#taper2 {
    background-color:rgba(240,140,16,1);
    width:30%;
    height:30%;
    right:20%;
    top:20%;
    position: absolute;
    background-image:linear-gradient(120deg, white 0%, white 40%, transparent 40%)
    ,linear-gradient(150deg, transparent 0%, transparent 60% , white 60%);
}

#taper3 {
    background-color:rgba(240,140,16,1);
    width:30%;
    height:30%;
    right:20%;
    bottom:20%;
    position: absolute;
    background-image:linear-gradient(210deg, white 0%, white 40%, transparent 40%)
    ,linear-gradient(240deg, transparent 0%, transparent 60% , white 60%);
}

#taper4 {
    background-color:rgba(240,140,16,1);
    width:30%;
    height:30%;
    left:20%;
    bottom:20%;
    position: absolute;
    background-image:linear-gradient(300deg, white 0%, white 40%, transparent 40%)
    ,linear-gradient(330deg, transparent 0%, transparent 60% , white 60%);
}


/* crawl */


#changelog-panel {
    position: absolute;
    bottom: -90%;
    height: 100%;
    width: 100%;
}

#changelog-panel.active{
    bottom: 0;
    animation-name: expandChangelog;
    animation-duration: .25s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#changelog-panel.inactive{
    bottom: -90%;
    height: 100%;
    width: 100%;
    animation-name: expandChangelog;
    animation-duration: .25s;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#crawl-launcher {
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    color: yellow;
    background-color: black;
}

#crawl-launcher:hover {
    background-color: #222222;
    border: solid yellow 2px;
}

.changelog {
    display: none;
    width: 256px;
    height: 0px;
    position: relative;
    perspective: 200px;
    overflow-y: hidden;
    font-size:8pt;
    color: yellow;
    background-color:black;


}

.changelog.active {
    display: block;
    height: 100%;
}

.crawl {
    width:256px;
    height:200px;
    padding-top: 257px;
    bottom: 0;
    position: absolute;
    transform: rotateX(30deg);
    overflow-y:hidden;
}

#crawltext.active {
    width:100%;
    padding-left: 50px;
    padding-right: 50px;
    position:absolute;
    animation-name: crawlframes;
    animation-duration: 24s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#crawltext>ul {
    padding: 0;
}

#crawltext>ul>li {
    margin-left: 20px;
    margin-right: 20px;
}


#crawltext p {
    text-align: center;
}

@keyframes crawlframes {
    0% { margin-top: 0%; }
    100% { margin-top: -370%; }
}



@keyframes expandChangelog {
    0% { bottom: -90%; background-color: transparent; }
    100% { bottom: 0%; background-color: black; }
}